.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.addTask {
  height: 30vh;
  background-color: rgb(30, 255, 206);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

#btn1{
  color:white;
  background-color: #09bff1;
  border-radius: 5px;
  border: 0px transparent;
  padding:5px;
  font-size: 13px;
}
#entertask{
  margin:10px;
}
#btn2{
  border-radius: 5px;
  border: 1px solid black;
  padding:5px;
  font-size: 13px;
  margin: 10px;
}
#btn3{
  color:white;
  background-color: #f72121;
  border-radius: 5px;
  border: 0px transparent;
  padding:5px;
  font-size: 13px;
}